

body{
    font-family: 'Montserrat';  
}

/* section의 id title에 스타일 적용  */
#title{
    background-color: #ff4c68;
}

/* section의 id title에 h1 속성 스타일 적용 */
#title h1{
    font-family: 'Montserrat';  
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
    color:white;
}

#title .container-fluid{
    padding: 3% 15%;
}

/* navbar 스타일 적용 */
#title .navbar{
    padding-bottom: 4rem;
}
#title .navbar-brand{
    font-family: 'Ubuntu'; 
    font-size: 2.0rem;
    font-weight: bold; 
}

#title .nav-item{
    padding: 0 18px 0 0;
}

#title .nav-link{
    font-family: 'Montserrat'; 
    font-size: 1.05rem;
}

/* 다운로드 버튼 스타일 적용 */
#title .download-button{
    margin: 5% 3% 5% 0;
}

/* title 이미지 수평 수직 정렬 */
#title .img-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* title 이미지 회전 */
#title .title-img{
    width: 60%;
    transform: rotate(15deg);    
}

/* feature section 스타일 추가 */
#features{
    padding: 7% 15%;
    margin-bottom: 1rem;
}
#features ion-icon{
    color:#ef8172;
    width: 50px;
    height: 50px;
}

#features ion-icon:hover {
    color:#ff4c68;
  
}

#features h3{
    font-size: 1.5rem;
    font-weight: 900;
}

#features p{
    color: #8f8f8f;
}

#features .features-container{
    text-align: center;
    font-family: 'Montserrat';  
}

/* testimonials section */
#testimonials{
    background-color: #ef8172;
    padding: 7% 15%;
    text-align: center;
    color: white;
}

#testimonials .carousel-item{
    padding: 0% 15%;
}

#testimonials h2{
    font-family: 'Montserrat';  
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}

#testimonials img{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press img{
    width: 15%;
    margin:  20px 20px 50px;
}

#pricing{
    font-family: 'Montserrat';  
    padding: 80px 100px;
    
}

#pricing .card-header{
    font-weight: bold;

}
#pricing .price-column{
    text-align: center;
    padding-top: 3%;
}

#pricing h2{
    font-family: 'Montserrat';  
    font-weight: bold; 
}

