
/* section의 id title에 스타일 적용  */
#title{
    background-color: #ff4c68;
}

/* section의 id title에 h1 속성 스타일 적용 */
#title h1{
    font-family: 'Montserrat';  
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}